:root{
    --primary-color:green;
    --white-color:#fefee2;
    --hover_link:orange;
}

body{
    background-color: var(--white-color);
}

h1{
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
}

nav{
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    width: 90%;
    line-height: 4em;
    font-size: 1.3rem;
}

ul{
    list-style-type: none;
    background-color: var(--primary-color);
    border-radius: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

a{
    text-decoration: none;
    color: var(--white-color);
}

a:hover{
    color: var(--hover_link);
}

.picture{

    height: 340px;
    width: 340px;
    background-repeat: no-repeat;
    background-size: contain;
}